<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link href="/styles.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"
      rel="stylesheet"
    />
  </head>
  <body
    class="min-h-screen bg-gradient-to-br from-sky-200 via-blue-100 to-sky-300 bg-[length:400%_400%] animate-gradient font-sans sm:bg[length:400%_400%] sm:animate-gradient"
  >
    <header class="bg-transparent p-4">
      <div class="max-w-6xl mx-auto flex items-center px-4 sm:px-6">
        <img src="/images/logo.png" alt="Logo" class="h-18 w-18 sm:w-24 mr-3" />
        <h1 class="text-2xl sm:text-4xl font-bold text-blue-800">
          UploadStack
        </h1>
      </div>
    </header>

    <main
      class="flex items-center justify-center min-h-[calc(100vh-80px)] px-4"
    >
      <div
        class="bg-white p-8 sm:8 rounded-xl shadow-xl max-w-md w-full text-center"
      >
        <img src="/images/cloud.png" alt="Logo" class="w-24 sm:w-24 mx-auto" />
        <h1 class="text-2xl sm:text-3xl font-bold text-blue-800 mb-6">
          Stack it. Store it. Relax.
        </h1>
        <div class="flex flex-col items-center sm:items-stetch gap-4">
          <a
            href="/register"
            class="bg-blue-700 text-white px-4 py-2 rounded-lg shadow-md transform duration-300 hover:scale-105 hover:bg-blue-800 transition cursor-pointer sm:px-5 sm:py-2 w-full"
          >
            Register
          </a>
          <a
            href="/login"
            class="bg-blue-700 text-white px-4 py-2 rounded-lg shadow-md transform duration-300 hover:scale-105 hover:bg-blue-800 transition cursor-pointer sm:px-5 sm:py-2 w-full"
            >Sign In</a
          >

          <form action="/guest-login" method="POST" class="w-full">
            <button
              type="submit"
              class="bg-blue-700 text-white px-4 py-2 rounded-lg hover:bg-blue-800 shadow-md transform transition duration-300 hover:scale-105 cursor-pointer sm:px-5 sm:py-2 w-full"
            >
              Login as Guest
            </button>
          </form>
        </div>
      </div>
    </main>
  </body>
</html>
